body {
    margin: 0px;
    overflow: hidden;
    background-color: #000000;
    background-image: url('../web/bg.png');
}

#canvas {
    position: absolute;
    top: 210px;
    left: 0px;
    width: 1280px;
    height: 300px;
}

#ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
}

#stats {
    position: absolute;
    top: 520px;
    left: 0px;
    width: 1280px;
    height: 60px;
    color: #FFFFFF;
    text-align: center;
    font: 24px arial, sans-serif;
}
